@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Oxygen, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-hero {
  background-image: url("../public/ECE-Corr.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.mono-font {
  font-family: Oxygen Mono, monospace;
}
